@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100% !important;
    max-width: none !important;
    background: white;
    border: none;
    font-family: inherit;
    padding: 1rem;
}
